body{
    font-family: sans-serif;
}
h1 {
    color: #00ffff;
    background-color: #000;
    font-size: 2.75rem;
}
span{
    color: #fff;
}
h2{
    background-color: #663399;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}
h3{
    background-color: #9FC5F8;
    text-decoration: underline;
    text-align: end;
    font-weight: normal;
}
.paddAndMarg{
    padding: 0.5rem 1rem;
    margin-bottom: 0rem;
}